@media only screen and (min-width: 1028px) {
  .container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    max-width: 1440px;
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
    background-color: white;
  }
  .container .header-mobile {
    display: none;
  }
  .container .header {
    width: 100%;
    max-width: 1440px;
    flex: 0 1 105px;
    display: flex;
    flex-direction: row;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;
    border-color: transparent;
    background-color: #314dca;
  }
  .container .header .menu {
    flex: 0 1 439px;
    height: 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    box-sizing: border-box;
    justify-content: space-between;
    border-color: transparent;
  }
  .container .header .menu .home {
    color: white;
    height: auto;
    font-size: 18px;
    font-style: normal;
    font-family: Noto Sans;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    position: relative;
  }
  .container .header .menu .vocabulary {
    color: white;
    height: auto;
    font-size: 18px;
    font-style: normal;
    font-family: Noto Sans;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    position: relative;
  }
  .container .header .menu .grammar {
    color: #ff5e95;
    height: auto;
    font-size: 18px;
    font-style: normal;
    font-family: Noto Sans;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    position: relative;
  }
  .container .header .menu .tests {
    color: white;
    height: auto;
    font-size: 18px;
    font-style: normal;
    font-family: Noto Sans;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    position: relative;
  }
  .container .header .logo {
    color: white;
    width: 209px;
    height: auto;
    position: relative;
    font-size: 40px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 900;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .container .ellipses {
    position: relative;
  }
  .container .title {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    flex-shrink: 1;
    border-color: transparent;
  }
  .container .title .description {
    color: #222222;
    height: auto;
    position: relative;
    font-size: 20px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Noto Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .container .title .text {
    color: #222222;
    height: auto;
    position: relative;
    font-size: 64px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Noto Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .container .content {
    width: 75%;
    margin-top: 5vw;
    margin-bottom: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  .container .content .explanation {
    color: #222222;
    height: auto;
    position: relative;
    font-size: 24px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Noto Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .container .content .examples {
    margin-top: 2vw;
    position: relative;
    align-content: center;
    font-style: normal;
    font-family: Noto Sans;
  }
  .container .content .examples .title {
    padding-bottom: 1vw;
    font-size: 36px;
    font-weight: 900;
    color: #ff5e95;
  }
  .container .content .examples .example {
    line-height: 155%;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    color: #222222;
  }
  .container .content .table {
    width: 100%;
    margin-top: 2vw;
    position: relative;
    align-content: center;
    align-self: center;
    font-style: normal;
    font-family: Noto Sans;
  }
  .container .content .table .title {
    padding-bottom: 1vw;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
  }
  .container .content .table table {
    width: 100%;
    min-height: 200px;
    border: 1px solid;
    border-collapse: collapse;
  }
  .container .content .table table thead,
  .container .content .table table td,
  .container .content .table table th {
    height: 25%;
    width: calc(100% / 3);
    text-align: left;
    vertical-align: middle;
    border: 1px solid;
  }
  .container .content .table table thead p,
  .container .content .table table td p,
  .container .content .table table th p {
    font-size: 20px;
    color: #222222;
    padding-left: 3%;
  }
  .container .content .table.formation {
    color: #4bcd5c;
  }
  .container .content .table.formation th {
    background-color: rgba(75, 205, 92, 0.1);
  }
  .container .content .table.formula {
    color: #ff5e95;
  }
  .container .content .table.formula th {
    background-color: rgba(255, 94, 149, 0.1);
  }
  .container .footer {
    width: 100%;
    max-width: 1440px;
    flex: 0 1 493px;
    display: flex;
    position: relative;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-around;
    flex-shrink: 1;
    border-color: transparent;
    background-color: #314dca;
  }
  .container .footer .sections {
    margin-right: 90px;
    display: flex;
    flex: 0 1 536px;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    align-self: center;
  }
  .container .footer .sections .service-section {
    width: 84px;
    height: 240px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
  }
  .container .footer .sections .service-section .service {
    top: 0px;
    left: 0px;
    color: #ff5e95;
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Rubik;
    font-weight: 500;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .container .footer .sections .service-section .download {
    top: 50px;
    left: 0px;
    color: white;
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Rubik;
    font-weight: 400px;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .container .footer .sections .service-section .vocabulary {
    top: 90px;
    left: 0px;
    color: white;
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Rubik;
    font-weight: 400px;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .container .footer .sections .service-section .grammar {
    top: 130px;
    left: 0px;
    color: white;
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Rubik;
    font-weight: 400px;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .container .footer .sections .service-section .tests {
    top: 170px;
    left: 0px;
    color: white;
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Rubik;
    font-weight: 400px;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .container .footer .sections .service-section .resourses {
    top: 210px;
    left: 0px;
    color: white;
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Rubik;
    font-weight: 400px;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .container .footer .sections .company-section {
    width: 82px;
    height: 160px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
  }
  .container .footer .sections .company-section .company {
    top: 0px;
    left: 0px;
    color: #ff5e95;
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Rubik;
    font-weight: 500;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .container .footer .sections .company-section .about-us {
    top: 90px;
    left: 0px;
    color: white;
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Rubik;
    font-weight: 400px;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .container .footer .sections .company-section .faq {
    top: 50px;
    left: 0px;
    color: white;
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Rubik;
    font-weight: 400px;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .container .footer .sections .company-section .support {
    top: 130px;
    left: 0px;
    color: white;
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Rubik;
    font-weight: 400px;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .container .footer .sections .privacy-section {
    width: 97px;
    height: 118px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
  }
  .container .footer .sections .privacy-section .privacy {
    top: 0px;
    left: 0px;
    color: #ff5e95;
    height: auto;
    position: absolute;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Rubik;
    font-weight: 500;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .container .footer .sections .privacy-section .terms-of-use {
    top: 50px;
    left: 0px;
    color: white;
    width: 97px;
    height: auto;
    position: absolute;
    font-size: 16px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Rubik;
    font-weight: 400px;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .container .footer .side-info {
    margin-left: 120px;
    margin-right: 90px;
    min-height: 310px;
    display: flex;
    flex: 0 1 370px;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
  }
  .container .footer .side-info .slogan {
    color: #74d579;
    width: 252px;
    height: auto;
    position: relative;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Rubik;
    font-weight: 400px;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .container .footer .side-info .download {
    color: white;
    width: 130px;
    height: auto;
    position: relative;
    font-size: 18px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Rubik;
    font-weight: 400px;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .container .footer .side-info .socnet {
    width: 194px;
    height: 34px;
    position: relative;
    object-fit: cover;
    border-color: transparent;
  }
  .container .footer .side-info .mob-app {
    display: flex;
    flex-direction: row;
  }
  .container .footer .side-info .mob-app .googleplay {
    width: 187px;
    height: 52px;
    position: relative;
    object-fit: cover;
    border-color: transparent;
  }
  .container .footer .side-info .mob-app .appstore {
    width: 176px;
    height: 52px;
    position: relative;
    object-fit: cover;
    border-color: transparent;
  }
  .container .footer .side-info .logo {
    color: white;
    height: auto;
    position: relative;
    font-size: 72px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 900;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .container .footer-mobile {
    display: none;
  }
}

@media only screen and (max-width: 1027px) {
  .container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    max-width: 1440px;
    box-sizing: border-box;
    align-items: center;
    border-color: transparent;
    background-color: white;
  }
  .container .header {
    display: none;
  }
  .container .header-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    font-style: normal;
    font-family: Noto Sans;
    font-weight: 800;
    border-color: transparent;
    background-color: #314dca;
    border-radius: 0 0 100px 100px;
  }
  .container .header-mobile .logo {
    color: white;
    position: relative;
    font-size: 4rem;
    align-self: center;
    font-style: normal;
    text-align: left;
    font-family: Noto Sans;
    font-weight: 900;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .container .ellipses {
    position: relative;
  }
  .container .title {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    flex-shrink: 1;
    border-color: transparent;
  }
  .container .title .description {
    color: #222222;
    height: auto;
    position: relative;
    font-size: 20px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Noto Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .container .title .text {
    color: #222222;
    height: auto;
    position: relative;
    font-size: 64px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Noto Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .container .content {
    width: 75%;
    margin-top: 5vw;
    margin-bottom: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  .container .content .explanation {
    color: #222222;
    height: auto;
    position: relative;
    font-size: 24px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Noto Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .container .content .examples {
    margin-top: 2vw;
    position: relative;
    align-content: center;
    font-style: normal;
    font-family: Noto Sans;
  }
  .container .content .examples .title {
    padding-bottom: 1vw;
    font-size: 36px;
    font-weight: 900;
    color: #ff5e95;
  }
  .container .content .examples .example {
    line-height: 155%;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    color: #222222;
  }
  .container .content .table {
    width: 100%;
    margin-top: 2vw;
    position: relative;
    align-content: center;
    align-self: center;
    font-style: normal;
    font-family: Noto Sans;
  }
  .container .content .table .title {
    padding-bottom: 1vw;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
  }
  .container .content .table table {
    width: 100%;
    min-height: 200px;
    border: 1px solid;
    border-collapse: collapse;
  }
  .container .content .table table thead,
  .container .content .table table td,
  .container .content .table table th {
    height: 25%;
    width: calc(100% / 3);
    text-align: left;
    vertical-align: middle;
    border: 1px solid;
  }
  .container .content .table table thead p,
  .container .content .table table td p,
  .container .content .table table th p {
    font-size: 20px;
    color: #222222;
    padding-left: 3%;
  }
  .container .content .table.formation {
    color: #4bcd5c;
  }
  .container .content .table.formation th {
    background-color: rgba(75, 205, 92, 0.1);
  }
  .container .content .table.formula {
    color: #ff5e95;
  }
  .container .content .table.formula th {
    background-color: rgba(255, 94, 149, 0.1);
  }
  .container .footer {
    display: none;
  }
  .container .footer-mobile {
    margin-top: 10vw;
    width: 100%;
    height: 25vw;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 1;
    border-color: transparent;
    border-radius: 125px 125px 0 0;
    background-color: #314dca;
  }
  .container .footer-mobile .slogan {
    color: #74d579;
    margin-bottom: 5vw;
    position: relative;
    font-size: 2vw;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Rubik;
    font-weight: 400px;
    line-height: 9.43px;
    font-stretch: normal;
    text-decoration: none;
  }
  .container .footer-mobile .logo {
    color: white;
    position: relative;
    font-size: 7vw;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Noto Sans;
    font-weight: 900;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .container .footer-mobile .socnet {
    margin-top: 5vw;
    width: 25vw;
    height: auto;
    position: relative;
    object-fit: cover;
    border-color: transparent;
  }
}
/*# sourceMappingURL=grammar_info.css.map */